* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/originals/76/dc/af/76dcafc26efcb4fd9cc77292fce442be.png");
    background-size: cover;
    background-position: center;
}

.logo {
    width: 5vw;
    height: 7vh;
    margin: 5px;
}

.nav-bar {
    background: rgba(0, 0, 0, 0.815);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.nav-bar ul {
    display: inline-flex;
    flex-wrap: wrap;
}

.nav-bar ul li {
    margin: 5px;
    margin-right: 70px;
    margin-top: 20px;
    list-style: none;
}

.active a,
.nav-bar ul li a:hover {
    color: white;
}

.nav-bar ul li a {
    color: blue;
    text-decoration: none;
}

.nav-bar .fas {
    margin-left: 6px;
    color: lightblue;
}

.nav-bar .fas:hover {
    color: white;
}

@media screen and (max-width: 600px) {
    .nav-bar ul {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 50px;
    }
    .logo {
        width: 15vw;
        height: 10vh;
    }
}